$color-black: #000;
$color-red: #f00;


* {
    box-sizing: border-box;

    &:before, &:after {
        box-sizing: border-box;
    }
}

body {
    text-align: center;

    > #container {
        width: 500px;
        margin: 0 auto;
        text-align: left;
    }
}


header {
    h1 {
        margin-bottom: 26px;
        font-size: 26px;
    }
}

div {
    &[role='main'] {
        margin-bottom: 25px;
        padding: $border-radius;
        border: 3px solid $color2;

        ul {
            padding-top: 14px;
        }

        li {
            margin-bottom: 12px;
            color: $color-black;
        }
    }

    &:after {
        content: 'notice only one colon.';
    }
}

%button {
    border: 1px solid $color-red;
}

button {
    @extend %button;
}

.url-quotes {
    background-image: url('//placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150');
}
